*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;

}
   body{
    background:#ffff url(../img/fundo.png) repeat-x;
   
   }
   #container{

        max-width: 900px;
        margin: auto;
        padding: 25px;
   }

   #main{ 

    background: url(../img/detalhe-topo.png) no-repeat  right;
    height: 150px;
   



   }

   .logo{
    width: 152px;
    height: 70px;
    background: url(../img/logo.png) no-repeat center;
   }
   
   .menu{

    margin: auto;
    background-color:#354273;
    margin-top: 30px;
    font-size: 1.2em;

   }

   .menu ul{

    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;


    }
    .menu ul li a{

    list-style: none;
    text-decoration: none;
    padding:20px;
    color:whitesmoke;
    line-height: 50px;
    padding-left: 20px;

    }

    .menu ul li a:hover{
  
    color:#e5002b;
    }


